{% extends "base.html" %}

{% block title %}Research Computing - Login{% endblock %}

{% block extra_style %}
<link href="/static/css/login.css" rel="stylesheet"/>
{% endblock %}

{% block jumbotron_button %}
<p><a data-toggle="modal" href="#helpmodal"
      class="btn btn-primary btn-lg" role="button">Terms &amp; Conditions &raquo;</a></p>
{% endblock %}

{% block modal_title %}
<h2 class="modal-title">Terms &amp; Conditions</h2>
{% endblock %}

{% block modal_body %}
{% include "terms-and-conditions.html" %}
{% endblock %}

{% block container %}
<div class="alert alert-success" role="alert">
  <p>You have been logged out of the portal.</p>
</div>

<form action="/login" method="POST" id="login-form">
  {% csrf_token %}
  <h2 class="form-signin-heading">Login again</h2>
  <div class="form-group">
    <label for="id_username">RC Username</label>
    <input
      id="id_username"
      class="form-control"
      placeholder="RC Username"
      maxlength="254"
      name="username"
      type="text">
  </div>
  <div class="form-group">
    <label for="id_password">RC Two-Factor Password</label>
    <input
      id="id_password"
      class="form-control"
      placeholder="RC Two-Factor Password"
      name="password"
      type="password">
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
</form>
{% endblock %}
