
services:
  rcamp-uwsgi:
    build:
      context: .
    container_name: rcamp-uwsgi
    command: ["python3", "manage.py", "runserver", "0.0.0.0:8000"]
    env_file:
      - dev-environment.env
    environment:
      - UWSGI_UID=${UWSGI_UID}
      - UWSGI_GID=${UWSGI_GID}
    volumes:
      - ./rcamp:/opt/rcamp
      - ./ldapdb:/opt/ldapdb
      - static-content:/opt/static
      - media-uploads:/opt/media
      - rcamp-logs:/opt/logs
    ports:
      - "80:8000"
      - "5678:5678"  # Debugger port
    depends_on:
      database:
        condition: service_healthy

  database:
    image: mysql:8.4
    container_name: database
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=rcamp1712
    volumes:
      - database:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -ppassword"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  static-content:
  media-uploads:
  rcamp-logs:
  database:
