asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
debugpy==1.8.13
Django==4.2.20
django-auth-ldap==5.1.0
django-crispy-forms==1.13.0
django-easy-pjax==1.2.0
django-extensions==3.2.3
django-filter==22.1
django-grappelli==4.0.1
django-ldapdb @ git+https://github.com/django-ldapdb/django-ldapdb.git@eb9503c85cd230f45765ec8fcd9fc21dbc81ce4c
django-material==1.11.3
django-mysql==4.16.0
django-utils==0.0.2
djangorestframework==3.15.2
funcsigs==0.4
idna==3.10
mock==4.0.3
mysqlclient==2.2.7
pbr==5.8.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-ldap==3.4.4
python-pam==1.8.4
pytz==2025.1
requests==2.32.3
six==1.16.0
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
uWSGI==2.0.20
