{% extends "base.html" %}

{% block title %}Research Computing - Request Account{% endblock %}

{% block extra_style %}
<link href="/static/css/account-request.css" rel="stylesheet"/>
{% endblock %}

{% block container %}
<div class="row">
  <div class="jumbotron text-center">
    <h1>Account Request</h1>
    <p>Request a Research Computing account.</p>
  </div>
</div>

<legend>Please select your organization to begin.</legend>
<div class="alert alert-info" role="alert">
    If you're an RMACC user and do not see your organization listed, please follow our documentation for <a href="https://github.com/ResearchComputing/Research-Computing-User-Tutorials/wiki/RMACC-Access-to-Summit">RMACC Access to Summit <span class="glyphicon glyphicon-new-window"></span></a>.
</div>

<div class="list-group">
  <a href="{% url 'accounts:account-request-verify-ucb' %}" class="list-group-item">
    <h4 class="list-group-item-heading">University of Colorado Boulder</h4>
    <p class="list-group-item-text">
      You will be asked to verify your identity with your CU IdentiKey username and password.
    </p>
  </a>
  <a href="{% url 'accounts:account-request-verify-csu' %}" class="list-group-item">
    <h4 class="list-group-item-heading">Colorado State University</h4>
    <p class="list-group-item-text">
      You will be asked to verify your identity with your CSU EID username and password.
    </p>
  </a>
</div>
{% endblock %}
