body {
  padding-top: 80px;
}

.navbar-default {
  background-color: #fff;
}

.navbar-logo {
  height: 80px;
}

.jumbotron {
  background-image:url("/static/img/coolaisle-blue-cmp.jpg");
}

.terms-and-conditions {
  margin: 20px;
}

div.mailto-help {
    margin-top: -15px;
    margin-bottom:30px;
}

ol.breadcrumb {
  background-color: transparent;
}

form .help {
    font-size: small;
    font-style: italic;
}
