{% extends "base.html" %}

{% block title %}Research Computing - Request Account{% endblock %}

{% block extra_style %}
<link href="/static/css/account-request.css" rel="stylesheet"/>
{% endblock %}

{% block container %}
<div class="mailto-help">
    Questions about the account request process?
    <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Account%20Request%20Process">
        Contact us
    </a>
    or view our
    <a href="https://curc.readthedocs.io/en/latest/">
      Documentation.
    </a>
</div>

{% if form.errors %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>
      <strong>Could not submit request.</strong>
      Please resolve the errors below, or
      <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Account%20Request%20Process">
          contact us.
      </a>
    </p>
    {{ form.non_field_errors }}
</div>
{% endif %}

<form id="intent-form" class="form-horizontal" method="POST" action="" role="form" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset>
      <legend>Why are you requesting a Research Computing account?</legend>
      <p id="ucb-login-help">Select all that apply.</p>

      <div class="checkbox">
        <label>
          <input id="id_reason_summit" class="reason-checkbox" type="checkbox" name="reason_summit" {% if form.reason_summit.value %}checked{% endif %}>
          I would like to run high-performance compute jobs on the <strong>Alpine Cluster</strong>. <a href="https://www.colorado.edu/rc/alpine">Learn more about Alpine.</a>
        </label>
      </div>

      <div id="summit-additional" class="additional-info-form">

        {% if form.summit_description.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_summit_description">
              <dt>Description</dt>
              <dd>(required)</dd>
            </label>
            <div class="col-sm-8">
              <textarea id="id_summit_description" name="summit_description" class="form-control required" rows="10" cols="40" placeholder="Concise description of your proposed workflow on Alpine. (150 words or fewer)" />{% if form.summit_description.value %}{{ form.summit_description.value }}{% endif %}</textarea>
              {% if form.summit_description.errors %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ form.summit_description.errors }}</strong>
              </div>
              {% endif %}
            </div>
        </div>

        {% if form.summit_pi_email.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_summit_pi_email">
              <dt>PI Email</dt>
              <dd>(optional)</dd>
            </label>
            <div class="col-sm-8">
                <input id="id_summit_pi_email" type="text" name="summit_pi_email" class="form-control"
                {% if form.summit_pi_email.value %}value="{{ form.summit_pi_email.value }}"{% endif %}
                maxlength="256" />
                {% if form.summit_pi_email.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.summit_pi_email.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>

        {% if form.summit_funding.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_summit_funding">
              <dt>Funding</dt>
              <dd>(optional)</dd>
            </label>
            <div class="col-sm-8">
                <input id="id_summit_funding" type="text" name="summit_funding" class="form-control"
                {% if form.summit_funding.value %}value="{{ form.summit_funding.value }}"{% endif %}
                maxlength="1024" placeholder="Agency, Grant Number, etc."/>
                {% if form.summit_funding.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.summit_funding.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>

      </div>

      <div class="checkbox">
        <label>
          <input id="id_reason_course" class="reason-checkbox" type="checkbox" name="reason_course" {% if form.reason_course.value %}checked{% endif %}>
          I am enrolled in a course that requires access to Research Computing resources.
        </label>
      </div>

      <div id="course-additional" class="additional-info-form">

        {% if form.course_instructor_email.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_course_instructor_email">
              <dt>Instructor Email</dt>
              <dd>(required)</dd>
            </label>
            <div class="col-sm-8">
                <input id="id_course_instructor_email" type="text" name="course_instructor_email" class="form-control required"
                {% if form.course_instructor_email.value %}value="{{ form.course_instructor_email.value }}"{% endif %}
                maxlength="128" />
                {% if form.course_instructor_email.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.course_instructor_email.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>

        {% if form.course_number.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_course_number">
              <dt>Course Number</dt>
              <dd>(required)</dd>
            </label>
            <div class="col-sm-8">
                <input id="id_course_number" type="text" name="course_number" class="form-control required"
                {% if form.course_number.value %}value="{{ form.course_number.value }}"{% endif %}
                maxlength="128" placeholder="i.e., CSCI1100" />
                {% if form.course_number.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.course_number.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>

      </div>

      <div class="checkbox">
        <label>
          <input id="id_reason_petalibrary" class="reason-checkbox" type="checkbox" name="reason_petalibrary" {% if form.reason_petalibrary.value %}checked{% endif %}>
          My research group has purchased <strong>PetaLibrary</strong> space that I plan to use, or I plan to purchase Petalibrary space for my project. <a href="https://www.colorado.edu/rc/resources/petalibrary">Learn more about PetaLibrary.</a>
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input id="id_reason_blanca" class="reason-checkbox" type="checkbox" name="reason_blanca" {% if form.reason_blanca.value %}checked{% endif %}>
          My research group has purchased condo nodes, either on Alpine or in the <strong>Blanca Cluster</strong>, or I plan to purchase Blanca nodes for use with my project <em>(Alpine condo is not presently available for purchase).</em> <a href="https://www.colorado.edu/rc/resources/blanca">Learn more about Blanca.</a>
        </label>
      </div>
    </fieldset>

    <fieldset class="acceptable-use-fieldset">
      <legend>Agree to Acceptable Use Policy and Submit Request</legend>
      <div class="alert alert-warning" role="alert">
        <dt>OIT Acceptable Use Policy</dt>
        <dd>By clicking "Agree & Submit Request" you indicate that you have read the <a href="https://www.colorado.edu/policies/acceptable-use-cu-boulders-it-resources">OIT Acceptable Use Policy</a> for University of Colorado Boulder's IT resources, and will follow all guidelines presented therein.</dd>
      </div>

      <div class="request-submit text-center">
        <button id="intent-form-submit" type="submit" class="btn btn-primary btn-lg">Agree & Submit Request</button>
      </div>
    </fieldset>

</form>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {

    var hideAdditionalForm = function(formElement) {
      formElement.find('input,textarea').each(function() {
        // Remove potentially incomplete inputs that would otherwise prevent validation.
        this.value = '';
      });
      formElement.hide();
    };

    var updateFormDisplay = function() {
      var resources = ['summit','course'];
      $.each(resources,function(index,resourceName) {
        var additionalForm = $(`#${resourceName}-additional`);
        var resourceCheckbox = $(`#id_reason_${resourceName}`);
        if (resourceCheckbox.is(':checked')) {
          additionalForm.show();
        } else {
          hideAdditionalForm(additionalForm);
        }
      });
    };

    var validateForm = function () {
      var isFormValid = true;
      $('#intent-form').find('.required:visible').each(function() {
        if (!this.value.trim()) {
          isFormValid = false;
        }
      });
      var allUnchecked = true;
      $('.reason-checkbox').each(function() {
        if ($(this).is(':checked')) {
          allUnchecked = false;
        }
      });
      var submitButton = $('#intent-form-submit');
      if (!isFormValid||allUnchecked) {
        submitButton.attr('disabled','disabled');
      } else {
        submitButton.removeAttr('disabled');
      }
    };

    $('#id_reason_summit,#id_reason_course').change(updateFormDisplay);
    $('#intent-form').keyup(validateForm);
    $('.reason-checkbox').change(validateForm);
    updateFormDisplay();
    validateForm();

  });
</script>
{% endblock %}
