{% extends "base.html" %}

{% block title %}Research Computing - Request Submitted{% endblock %}

{% block extra_style %}
<link href="/static/css/org-select.css" rel="stylesheet"/>
{% endblock %}

{% block jumbotron_heading %}<h1>Account Request Submitted</h1>{% endblock %}
{% block jumbotron_subheading %}
<p>We will review your request within 7 days.</p>
{% endblock %}
{% block jumbotron_button %}
{% endblock %}

{% block container %}
<h2 class="sub-header">Request Details</h2>
    <div class="table-responsive">
        <table id="allocation-request-table" class="table table-striped">
            <tr>
                <td><strong>Request id</strong></td>
                <td>{{account_request.id}}</td>
            </tr>
            <tr>
                <td><strong>Request received on</strong></td>
                <td>{{account_request.request_date}}</td>
            </tr>
            <tr>
                <td><strong>Username</strong></td>
                <td>{{account_request.username}}</td>
            </tr>
            <tr>
                <td><strong>First name</strong></td>
                <td>{{account_request.first_name}}</td>
            </tr>
            <tr>
                <td><strong>Last name</strong></td>
                <td>{{account_request.last_name}}</td>
            </tr>
            <tr>
                <td><strong>Email address</strong></td>
                <td>{{account_request.email}}</td>
            </tr>
            <tr>
                <td><strong>Organization</strong></td>
                <td>{{ account_request.organization|upper }}</td>
            </tr>
        </table>
    </div>
{% endblock %}