{% extends "base.html" %}

{% block title %}Research Computing - Request Submitted{% endblock %}

{% block extra_style %}
<link href="/static/css/org-select.css" rel="stylesheet"/>
{% endblock %}

{% block container %}
<div class="row">
    <div class="jumbotron text-center">
        <h1>Account Request Submitted</h1>
        {% if account_request.status != 'a' %}
        <p>We will review your request within 7 days.</p>
        {% else %}
        <p>Welcome to Research Computing!</p>
        {% endif %}
    </div>
</div>

<div class="mailto-help">
    Questions about your request?
    <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Submitted%20Request%20(%23{{account_request.id}})">
        Contact us.
    </a>
</div>

<h2 class="sub-header">Request Details</h2>
    <div class="alert alert-success" role="alert">
      {% if account_request.status != 'a' %}
      We will contact you at <strong>{{ account_request.email }}</strong> with updates regarding your account request.
      {% else %}
      We have sent a confirmation to <strong>{{ account_request.email }}</strong>.
      {% endif %}
    </div>
    <div class="table-responsive">
        <table id="allocation-request-table" class="table table-striped">
            <tr>
                <td><strong>Request received on</strong></td>
                <td>{{account_request.request_date}}</td>
            </tr>
            <tr>
                <td><strong>Username</strong></td>
                <td>{{account_request.username}}</td>
            </tr>
            <tr>
                <td><strong>First name</strong></td>
                <td>{{account_request.first_name}}</td>
            </tr>
            <tr>
                <td><strong>Last name</strong></td>
                <td>{{account_request.last_name}}</td>
            </tr>
            <tr>
                <td><strong>Email address</strong></td>
                <td>{{account_request.email}}</td>
            </tr>
            <tr>
                <td><strong>Department</strong></td>
                <td>{{account_request.department}}</td>
            </tr>
            <tr>
                <td><strong>Role</strong></td>
                <td>{{account_request.get_role_display}}</td>
            </tr>
            <tr>
                <td><strong>Organization</strong></td>
                <td>{{ account_request.get_organization_display }}</td>
            </tr>
            <tr>
                <td><strong>Discipline</strong></td>
                <td>{{ account_request.get_discipline_display }}</td>
            </tr>
        </table>
    </div>
{% endblock %}
