{% extends "base.html" %}

{% block title %}Research Computing - Request Account{% endblock %}

{% block extra_style %}
<link href="/static/css/account-request.css" rel="stylesheet"/>
{% endblock %}

{% block jumbotron_heading %}<h1>Account Request</h1>{% endblock %}
{% block jumbotron_subheading %}
<p>Request an account with University of Colorado Boulder Research Computing.</p>
{% endblock %}
{% block jumbotron_button %}
<p><a data-toggle="modal" href="#helpmodal"
class="btn btn-primary btn-lg" role="button">Definitions &amp; Form Help &raquo;</a></p>
{% endblock %}

{% block modal_title %}
<h4 class="modal-title">Definitions &amp; Form Help</h4>
{% endblock %}
{% block modal_body %}
<ul class="list-group">
    <li class="list-group-item">
        <strong>Organization Credentials</strong>
        <p>The request form requires that you successfully authenticate against
          the organization with which you are affiliated to verify your identity.
          The organization credentials should be the username/password pair you
          to access your organization's resources.
        </p>
    </li>
</ul>
{% endblock %}

{% block container %}
<div class="mailto-help">
    Questions about the account request process?
    <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Account%20Request%20Process">
        Contact us
    </a>
    or view our
    <a href="https://www.rc.colorado.edu/support/getting-started.html">
      Getting Started Guide.
    </a>
</div>

{% if form.errors %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p>
      <strong>Could not submit request.</strong>
      Please resolve the errors below, or
      <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Account%20Request%20Process">
          contact us.
      </a>
    </p>
    {{ form.non_field_errors }}
</div>
{% endif %}

<form id="intent-form" class="form-horizontal" method="POST" action="" role="form" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset>
      <legend>Why are you requesting a Research Computing account?</legend>
      <p id="ucb-login-help">Select all that apply.</p>

      <div class="checkbox">
        <label>
          <input id="id_reason_summit" type="checkbox">
          I would like to run high-performance compute jobs on the <strong>RMACC Summit Cluster</strong>. <a href="https://www.rc.colorado.edu/resources/compute/summit">Learn more about Summit.</a>
        </label>
      </div>

      <div id="summit-additional" class="additional-info-form">

        {% if form.additional_summit_description.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_additional_summit_description">
              <dt>Description</dt>
              <dd>(required)</dd>
            </label>
            <div class="col-sm-8">
              <textarea id="id_additional_summit_description" name="additional_summit_description" class="form-control" rows="10" cols="40" placeholder="Concise description of your proposed workflow on Summit. (150 words or fewer)" required/>{% if form.additional_summit_description.value %}{{ form.additional_summit_description.value }}{% endif %}</textarea>
              {% if form.additional_summit_description.errors %}
              <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ form.additional_summit_description.errors }}</strong>
              </div>
              {% endif %}
            </div>
        </div>

        {% if form.additional_summit_pi_email.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_additional_summit_pi_email">
              <dt>PI Email</dt>
              <dd>(optional)</dd>
            </label>
            <div class="col-sm-8">
                <input id="id_additional_summit_pi_email" type="text" name="additional_summit_pi_email" class="form-control"
                {% if form.additional_summit_pi_email.value %}value="{{ form.additional_summit_pi_email.value }}"{% endif %}
                maxlength="256" />
                {% if form.additional_summit_pi_email.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.additional_summit_pi_email.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>

        {% if form.additional_summit_funding.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_additional_summit_funding">
              <dt>Funding</dt>
              <dd>(optional)</dd>
            </label>
            <div class="col-sm-8">
                <input id="id_additional_summit_funding" type="text" name="additional_summit_funding" class="form-control"
                {% if form.additional_summit_funding.value %}value="{{ form.additional_summit_funding.value }}"{% endif %}
                maxlength="1024" placeholder="Agency, Grant Number, etc."/>
                {% if form.additional_summit_funding.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.additional_summit_funding.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>

      </div>

      <div class="checkbox">
        <label>
          <input id="id_reason_course" type="checkbox">
          I am enrolled in a course that requires access to Research Computing resources.
        </label>
      </div>

      <div id="course-additional" class="additional-info-form">

        {% if form.additional_course_instructor_email.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_additional_course_instructor_email">
              <dt>Instructor Email</dt>
              <dd>(required)</dd>
            </label>
            <div class="col-sm-8">
                <input id="id_additional_course_instructor_email" type="text" name="additional_course_instructor_email" class="form-control"
                {% if form.additional_course_instructor_email.value %}value="{{ form.additional_course_instructor_email.value }}"{% endif %}
                maxlength="128" required />
                {% if form.additional_course_instructor_email.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.additional_course_instructor_email.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>

        {% if form.additional_course_number.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_additional_course_number">
              <dt>Course Number</dt>
              <dd>(required)</dd>
            </label>
            <div class="col-sm-8">
                <input id="id_additional_course_number" type="text" name="additional_course_number" class="form-control"
                {% if form.additional_course_number.value %}value="{{ form.additional_course_number.value }}"{% endif %}
                maxlength="128" placeholder="i.e., CSCI1100" required />
                {% if form.additional_course_number.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.additional_course_number.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>

      </div>

      <div class="checkbox">
        <label>
          <input id="id_reason_petalibrary" type="checkbox">
          My research group has purchased <strong>PetaLibrary</strong> space that I plan to use, or I plan to purchase Petalibrary space for my project. <a href="https://www.rc.colorado.edu/resources/storage/petalibrary">Learn more about PetaLibrary.</a>
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input id="id_reason_blanca" type="checkbox">
          My research group has purchased nodes in the <strong>Blanca Cluster</strong>, or I plan to purchase Blanca nodes for use with my project. <a href="https://www.rc.colorado.edu/resources/compute/blanca">Learn more about Blanca.</a>
        </label>
      </div>
    </fieldset>

    <div class="col-sm-2 col-sm-offset-5 request-submit">
      <button id="intent-form-submit" type="submit" class="btn btn-primary btn-lg" disabled>Submit Request</button>
    </div>
</form>
{% endblock %}

{% block extra_js %}
<script>
  $(document).ready(function() {
    $('#id_reason_summit').change(function() {
      var summitAdditional = $('#summit-additional');
      if ($(this).is(':checked')) {
        summitAdditional.show();
      } else {
        summitAdditional.hide();
      }
    });

    $('#id_reason_course').change(function() {
      var courseAdditional = $('#course-additional');
      if ($(this).is(':checked')) {
        courseAdditional.show();
      } else {
        courseAdditional.hide();
      }
    });

    var validateForm = function () {
      var isFormValid = true;
      $('#intent-form').find('input[required]:visible,textarea[required]:visible').each(function() {
        if (!this.value.trim()) {
          isFormValid = false;
        }
      });
      var submitButton = $('#intent-form-submit');
      if (!isFormValid) {
        submitButton.attr('disabled','disabled');
      } else {
        submitButton.removeAttr('disabled');
      }
    };

    $('#intent-form').keyup(validateForm);

  });
</script>
{% endblock %}
