{% extends "base.html" %}

{% block title %}Research Computing - Request Account{% endblock %}

{% block extra_style %}
<link href="/static/css/org-select.css" rel="stylesheet"/>
{% endblock %}

{% block jumbotron_heading %}<h1>Account Request</h1>{% endblock %}
{% block jumbotron_subheading %}
<p>Request a Research Computing account.</p>
{% endblock %}
{% block jumbotron_button %}
<p><a data-toggle="modal" href="#helpmodal"
class="btn btn-primary btn-lg" role="button">Terms &amp; Conditions &raquo;</a></p>
{% endblock %}

{% block modal_title %}
<h4 class="modal-title">Terms &amp; Conditions</h4>
{% endblock %}
{% block modal_body %}
<p> Acknowledgement of the Janus supercomputer in publications:
                "This work utilized the Janus supercomputer, which is supported
                by the National Science Foundation (award number CNS-0821794) and
                the University of Colorado Boulder. The Janus supercomputer is
                a joint effort of the University of Colorado Boulder, the
                University of Colorado Denver and the National Center for Atmospheric Research."
            </p>
            <p>In order to meet export control guidelines, the PI certifies that:
            <ul>
                <li>The system will be used for fundamental research intended
                    to be published without any restrictions.
                </li>
                <li>The PI will ensure that all users added under their allocation
                    to the system are (a) employees, students, or visitors of a U.S.
                    university, or (b) citizens or permanent residents of the United States.
                </li>
                <li>The PI will retain records or correspondence documenting the
                    export control status of every user requested.
                </li>
            </ul>
            </p>
            <p>No HIPAA, FERPA, ITAR, classified or copywrited data may be stored on RC resources.
            </p>
            <p>The PI agrees to provide summaries of activities and accomplishments
                resulting from use of the Janus system to facilitate the annual reporting
                requirements to the NSF and the VCR office.
            </p>
{% endblock %}

{% block container %}
<div class="mailto-help">
    Don't know which reason best describes you?
    <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Account%20Request">
        Contact us.
    </a>
</div>

<legend>What is your reason for requesting an account?</legend>

<div class="list-group">
  <a href="{% url 'project-account-request-create' %}" class="list-group-item">
    <h4 class="list-group-item-heading">I am joining an existing project</h4>
    <p class="list-group-item-text">
      Select this option if you are requesting an account in order to join
      or manage an existing project on Research Computing resources.
    </p>
  </a>
  <a href="{% url 'class-account-request-create' %}" class="list-group-item">
    <h4 class="list-group-item-heading">I am enrolled in a class</h4>
    <p class="list-group-item-text">
      Select this option if you are requesting an account because you are
      enrolled in a class which will require the use of Research Computing
      resources.
    </p>
  </a>
  <a href="{% url 'sponsored-account-request-create' %}" class="list-group-item">
    <h4 class="list-group-item-heading">I am joining a sponsored affiliate</h4>
    <p class="list-group-item-text">
      Select this option if you are a sponsored affiliate of the University of
      Colorado Boulder.
    </p>
  </a>
  <a href="{% url 'account-request-create' %}" class="list-group-item">
    <h4 class="list-group-item-heading">I want to create a new project</h4>
    <p class="list-group-item-text">
      Select this option if you are requesting an account in order to create
      a new project on Research Computing resources.
    </p>
  </a>
</div>

{% endblock %}
