{% extends "base.html" %}

{% block title %}Research Computing - Request Account{% endblock %}

{% block extra_style %}
<link href="/static/css/account-request.css" rel="stylesheet"/>
{% endblock %}

{% block jumbotron_heading %}<h1>Account Request</h1>{% endblock %}
{% block jumbotron_subheading %}
<p>Request an account on the Janus supercomputer at the University of Colorado Boulder.</p>
{% endblock %}
{% block jumbotron_button %}
<p><a data-toggle="modal" href="#helpmodal"
class="btn btn-primary btn-lg" role="button">Definitions &amp; Form Help &raquo;</a></p>
{% endblock %}

{% block modal_title %}
<h4 class="modal-title">Definitions &amp; Form Help</h4>
{% endblock %}
{% block modal_body %}
<ul class="list-group">
    <li class="list-group-item">
      <strong>UCB username/password</strong>
      <p>The identikey username and password you use to access UCB resources,
          such as Desire2Learn or myCUinfo. You can manage your CU Boulder Identity
          through <a href="https://cuidm.colorado.edu/">CU Identity Management</a>.
      </p>
    </li>
</ul>
{% endblock %}

{% block container %}
<div class="mailto-help">
    Questions about the account request process?
    <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Sponsored%20Account%20Request%20Process">
        Contact us.
    </a>
</div>

{% if form.errors %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p><strong>Could not submit request.</strong> Please resolve the errors below.</p>
    {{ form.non_field_errors }}
</div>
{% endif %}

<form class="form-horizontal" method="POST" action="" role="form" enctype="multipart/form-data">
    {% csrf_token %}

    <fieldset>
        <legend>Login With CU Identikey</legend>
        {% if form.username.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_username">Username</label>
            <div class="col-sm-8">
                <input id="id_username" type="text" name="username" class="form-control"
                {% if form.username.value %}value={{ form.username.value }}{% endif %}
                maxlength="256" />
                {% if form.username.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.username.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>

        {% if form.password.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_password">Password</label>
            <div class="col-sm-8">
                <input id="id_password" type="password" name="password" class="form-control"
                {% if form.password.value %}value={{ form.password.value }}{% endif %}
                maxlength="256" />
                {% if form.password.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.password.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>What is your sponsor's email?</legend>
        {% if form.sponsor_email.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_sponsor_email">Sponsor's Email</label>
            <div class="col-sm-8">
                <input id="id_sponsor_email" type="email" name="sponsor_email" class="form-control"
                {% if form.sponsor_email.value %}value={{ form.sponsor_email.value }}{% endif %}
                maxlength="256" />
                {% if form.sponsor_email.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.sponsor_email.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>What is your preferred login shell?</legend>
        {% if form.login_shell.errors %}
        <div class="form-group has-error has-feedback">
        {% else %}
        <div class="form-group">
        {% endif %}
            <label class="col-sm-2 control-label" for="id_login_shell">Preferred login shell</label>
            <div class="col-sm-8">
                <select name="login_shell" id="id_login_shell" class="form-control">
                    {% for value, disp in form.login_shell.field.choices %}
                    <option value="{{ value }}">{{ disp }}</option>
                    {% endfor %}
                </select>
                {% if form.login_shell.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>{{ form.login_shell.errors }}</strong>
                </div>
                {% endif %}
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Which resources do you intend to use?</legend>

        <div class="checkbox">
            <label>
                <input id="id_blanca" type="checkbox" name="blanca"
                {% if form.blanca.value %}checked{% endif %}/>
                Blanca, condo compute cluster
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input id="id_janus" type="checkbox" name="janus"
                {% if form.janus.value %}checked{% endif %}/>
                Janus, parallel HPC cluster (2011)
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input id="id_summit" type="checkbox" name="summit"
                {% if form.summit.value %}checked{% endif %}/>
                Summit, parallel HPC cluster (2016)
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input id="id_petalibrary_active" type="checkbox" name="petalibrary_active"
                {% if form.petalibrary_active.value %}checked{% endif %}/>
                PetaLibrary/active, active-use disk storage
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input id="id_petalibrary_archive" type="checkbox" name="petalibrary_archive"
                {% if form.petalibrary_archive.value %}checked{% endif %}/>
                PetaLibrary/archive, long-term disk+tape storage
            </label>
        </div>
    </fieldset>

    <div class="col-sm-2 col-sm-offset-5 request-submit">
        <button type="submit" class="btn btn-primary btn-lg">Submit Request</button>
    </div>
</form>
{% endblock %}
