{% extends "base.html" %}

{% block title %}Research Computing - My Projects{% endblock %}

{% block extra_style %}
<link href="/static/css/projects.css" rel="stylesheet"/>
{% endblock %}

{% block jumbotron_heading %}<h1>Allocation Requests for {{ project.project_id }}</h1>{% endblock %}
{% block jumbotron_subheading %}
<p>Review your allocation requests.</p>
{% endblock %}

{% block container %}
<div class="row">
  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">Index</a></li>
    <li><a href="{% url 'projects:project-list' %}">My Projects</a></li>
    <li><a href="{% url 'projects:project-detail' pk=project.pk %}">{{ project.project_id }}</a></li>
    <li class="active">Allocation Request {{ object.pk }}</li>
  </ol>

  <legend>Allocation Request</legend>
  <div class="mailto-help">
    <small>
      Questions about this allocation request?
      <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Allocation%20Request%20(%23{{object.pk}})">
          Contact us.
      </a>
    </small>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <td><strong>Request ID</strong></td>
        <td>{{ object.pk }}</td>
      </tr>
      <tr>
        <td><strong>Proposal</strong></td>
        <td><a href="{{ object.proposal.url }}">{{ MEDIA_URL }}{{ object.proposal.name }}</a></td>
      </tr>
      <tr>
        <td><strong>Request Date</strong></td>
        <td>{{ object.request_date }}</td>
      </tr>
      <tr>
        <td><strong>Requester</strong></td>
        <td>{{ object.requester }}</td>
      </tr>
      <tr>
        <td><strong>Status</strong></td>
        {% for status in object.STATUSES %}
        {% if object.status == status.0 %}
        <td>{{ status.1 }}</td>
        {% endif %}
        {% endfor %}
      </tr>
      <tr>
        <td><strong>Time Awarded</strong></td>
        <td>{{ object.amount_awarded }} SU</td>
      </tr>
      <tr>
        <td><strong>Approved On</strong></td>
        <td>{{ object.approved_on }}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
