{% extends "base.html" %}

{% block title %}Research Computing - My Projects{% endblock %}

{% block extra_style %}
<link href="/static/css/projects.css" rel="stylesheet"/>
{% endblock %}

{% block jumbotron_heading %}<h1>My Projects</h1>{% endblock %}
{% block jumbotron_subheading %}
<p>Review, manage, and request projects.</p>
{% endblock %}

{% block container %}
<div class="row">
  <legend>Manage Projects</legend>
  <span id="scavenger-mailto">
    <i class="fa fa-info-circle" aria-hidden="true"></i>
    Request access to the <i>scavenger</i> queue
    <a href="mailto:rc-help@colorado.edu?subject=Request%20Access%20To%20Scavenger">
        by contacting us.
    </a>
  </span>
  <ul class="list-group">
    {% for project in object_list %}
      {% if user.username in project.managers %}
      <a href="{% url 'projects:project-detail' project.pk %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ project.project_id }}</h4>
        <p class="list-group-item-text">{{ project.title }}</p>
      </a>
      {% endif %}
    {% endfor %}
    <a href="{% url 'projects:project-create' %}" class="list-group-item">
      <h4 class="list-group-item-heading">Create a new project</h4>
      <p class="list-group-item-heading">Create a new Research Computing project.</p>
    </a>
  </ul>

  <legend>Project Details</legend>
  <ul class="list-group">
    {% for project in object_list %}
      {% if user.username in project.collaborators or user.username in project.managers %}
      <a href="{% url 'projects:project-detail' project.pk %}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ project.project_id }}</h4>
        <p class="list-group-item-text">{{ project.title }}</p>
      </a>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endblock %}
