{% extends "base.html" %}

{% block title %}Research Computing - Edit Project{% endblock %}

{% block extra_style %}
<link href="/static/css/projects.css" type="text/css" media="all" rel="stylesheet">
<link href="/static/css/selector.css" rel="stylesheet"/>
{% endblock %}

{% block jumbotron_heading %}<h1>Edit project</h1>{% endblock %}
{% block jumbotron_subheading %}
<p>Edit project {{ object.project_id }}</p>
{% endblock %}

{% block container %}
<div class="mailto-help">
  Questions about editing your project?
  <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Editing%20Project%20{{object.project_id}}">
    Contact us
  </a>
  or view our
  <a href="https://www.rc.colorado.edu/support/getting-started.html">
    Getting Started Guide.
  </a>
</div>

<ol class="breadcrumb">
  <li><a href="{% url 'index' %}">Index</a></li>
  <li><a href="{% url 'projects:project-list' %}">My Projects</a></li>
  <li class="active">{{ object.project_id }}</li>
</ol>

{% if form.errors %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p>
    <strong>Could not save project.</strong>
    Please resolve the errors below, or
    <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Project%20Edit%20{{ object.project_id }}">
      Contact us
    </a>
  </p>
  {{ form.non_field_errors }}
</div>
{% endif %}

<form class="form-horizontal" method="POST" action="{% url 'projects:project-edit' object.pk %}" role="form" enctype="multipart/form-data">
  {% csrf_token %}

  <fieldset>
    <legend>Describe your project</legend>
    {% if form.title.errors %}
    <div class="form-group has-error has-feedback">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label class="col-sm-2 control-label" for="id_title">Title</label>
        <div class="col-sm-8">
            <input id="id_title" type="text" name="title" class="form-control"
            {% if form.title.value %}value="{{ form.title.value }}"{% endif %}
            maxlength="256" />
            {% if form.title.errors %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ form.title.errors }}</strong>
            </div>
            {% endif %}
        </div>
    </div>

    {% if form.description.errors %}
    <div class="form-group has-error has-feedback">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label class="col-sm-2 control-label" for="id_description">Description</label>
        <div class="col-sm-8">
          <textarea id="id_description" name="description" class="form-control" rows="10" cols="40"/>{% if form.description.value %}{{ form.description.value }}{% endif %}</textarea>
          {% if form.description.errors %}
          <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{ form.description.errors }}</strong>
          </div>
          {% endif %}
        </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Primary Investigators</legend>
    {% if form.pi_emails.errors %}
    <div class="form-group has-error has-feedback">
    {% else %}
    <div class="form-group">
    {% endif %}
        <label class="col-sm-2 control-label" for="id_pi_emails">PI Emails (comma-separated)</label>
        <div class="col-sm-8">
            <input id="id_pi_emails" type="text" name="pi_emails" class="form-control"
            {% if form.pi_emails.value %}value="{{ form.pi_emails.value }}"{% endif %}
            maxlength="256" />
            {% if form.pi_emails.errors %}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ form.pi_emails.errors }}</strong>
            </div>
            {% endif %}
        </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Project Managers</legend>
    {{ form.managers }}
  </fieldset>

  <fieldset>
    <legend>Project Collaborators</legend>
    {{ form.collaborators }}
  </fieldset>

  <div class="col-sm-6 col-sm-offset-4 request-submit">
    <a href="{% url 'projects:project-detail' object.pk %}" class="btn btn-warning btn-lg" role="button">Cancel Edit</a>
      <button type="submit" class="btn btn-primary btn-lg">Save Project</button>
  </div>
</form>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/SelectBox.js"></script>
<script type="text/javascript" src="/static/js/SelectFilter2.js"></script>
<script type="text/javascript" src="/static/js/jsi18n.js"></script>
<script type="text/javascript">
    addEvent(window, "load", function(e) { window.SelectFilter.init("id_managers", "managers", 0, "/static/admin/"); });
    addEvent(window, "load", function(e) { window.SelectFilter.init("id_collaborators", "collaborators", 0, "/static/admin/"); });
</script>
{% endblock %}
