{% extends "base.html" %}

{% block title %}Research Computing - My Projects{% endblock %}

{% block extra_style %}
<link href="/static/css/projects.css" rel="stylesheet"/>
{% endblock %}

{% block jumbotron_heading %}<h1>My Projects</h1>{% endblock %}
{% block jumbotron_subheading %}
<p>Review, manage, and request projects.</p>
{% endblock %}

{% block container %}
<div class="row">
  <div class="mailto-help">
      Questions about this project or its allocations?
      <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Project%20(%23{{object.project_id}})">
          Contact us.
      </a>
  </div>

  {% if edit_warning %}
  <div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p><strong>No edit permissions for {{ object.project_id }}!</strong> You must be a project manager to edit.</p>
  </div>
  {% endif %}

  <legend>Project: {{ object.project_id }}
    {% if user.username in object.managers %}<a href="{% url 'project-edit' object.pk %}" class="project-edit-link">(edit project)</a>{% endif %}
  </legend>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <td><strong>Project ID</strong></td>
        <td>{{ object.project_id }}</td>
      </tr>
      <tr>
        <td><strong>Organization</strong></td>
        <td>{{ object.organization | upper }}</td>
      </tr>
      <tr>
        <td><strong>Title</strong></td>
        <td>{{ object.title }}</td>
      </tr>
      <tr>
        <td><strong>Description</strong></td>
        <td>{{ object.description }}</td>
      </tr>
      <tr>
        <td><strong>PI Emails</strong></td>
        <td>{% for pi_email in object.pi_emails %}
          {{ pi_email }}{% if not forloop.last %},&nbsp;{% endif %}
        {% endfor %}</td>
      </tr>
      <tr>
        <td><strong>Project Managers</strong></td>
        <td>{% for manager in object.managers %}
          {{ manager }}{% if not forloop.last %},&nbsp;{% endif %}
        {% endfor %}</td>
      </tr>
      <tr>
        <td><strong>Project Collaborators</strong></td>
        <td>{% for collaborator in object.collaborators %}
          {{ collaborator }}{% if not forloop.last %},&nbsp;{% endif %}
        {% endfor %}</td>
      </tr>
      <tr>
        <td><strong>Created On</strong></td>
        <td>{{ object.created_on }}</td>
      </tr>
    </table>
  </div>

  <legend>References and publications for {{ object.project_id }}</legend>
  <ul class="list-group">
    <a href="{% url 'reference-create' project_pk=object.pk %}" id="reference-add-link" class="list-group-item" disabled>
      <h4 class="list-group-item-heading">Create new</h4>
      <p class="list-group-item-text">
        Create a new publication or reference for this project.
      </p>
    </a>
  </ul>

  <legend>Allocations for {{ object.project_id }}</legend>
  <ul class="list-group">
    <a href="#" id="allocation-request-link" class="list-group-item" disabled>
      <h4 class="list-group-item-heading">Request an allocation</h4>
      <p class="list-group-item-text">
        Request a compute time limit increase for this project.
      </p>
    </a>
  </ul>
</div>
{% endblock %}
