.jumbotron {
  background-image:url("/static/img/memory-heatmap-cmp.jpg");
}

div.request-submit {
  margin-top: 20px;
}

.additional-info-form {
  display: none;
  margin-top: 20px;
}

.acceptable-use-fieldset {
  margin-top: 20px;
}
