.jumbotron {
  background-image:url("/static/img/molecule-cmp.jpg");
}

/* Project Detail styles */
.project-edit-link {
  font-size: medium;
}

#scavenger-mailto + .list-group {
  margin-top: 20px;
}
