<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.rc.colorado.edu/sites/default/files/CU%20Image.png">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/static/css/jumbotron.css" rel="stylesheet" />
    <link href="/static/css/rcamp.css" rel="stylesheet" />

	{% block extra_style %}{% endblock %}

    <title>{% block title %}Research Computing{% endblock %}</title>

{% endblock %}
</head>

<body>
{% block body %}
<div class="container">

    <div class="masthead">
        <h3 class="text-muted"><img src="https://www.rc.colorado.edu/sites/all/themes/research/logo.png" /></h3>
        <ul class="nav nav-justified">
            <li><a href="http://www.rc.colorado.edu">Home</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            {% endif %}
            <li><a href="https://www.rc.colorado.edu/resources">Resources</a></li>
            <li><a href="https://www.rc.colorado.edu/support/allocationguidelines">Guidelines</a></li>
            <li><a href="https://www.rc.colorado.edu/support">Support</a></li>
            <li><a href="https://www.rc.colorado.edu/contact">Contact Us</a></li>
        </ul>
      </div>

    {% block jumbotron %}
    <div class="jumbotron">
        {% block jumbotron_heading %}<h1>Research Computing</h1>{% endblock %}
        {% block jumbotron_subheading %}
        <p>Welcome to Research Computing.</p>
        {% endblock %}
        {% block jumbotron_button %}
        <p><a class="btn btn-primary btn-lg" role="button">Terms &amp; Policies &raquo;</a></p>
        {% endblock %}
    </div>
    {% endblock %}

    {% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="helpmodal" tabindex="-1" role="dialog" aria-labelledby="helpmodallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    {% block modal_title %}
                    <h4 class="modal-title">Definitions &amp; Form Help</h4>
                    {% endblock %}
                </div>
                <div class="modal-body">
                    {% block modal_body %}{% endblock %}
                </div>
                <div class="modal-footer">
                {% block modal_footer %}{% endblock %}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endblock %}

    <div class="container body-content">
    {% block container %}

    {% endblock %}
    </div>
</div>
{% endblock %}

{% block footer %}
<div id="footer">
    <div class="container">
        {% block footer_content %}<br /><br />{% endblock %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}

{% block extra_js %}{% endblock %}
</body>
</html>
