{% extends "base.html" %}

{% block container %}
<div class="row">

  {% if user.is_authenticated %}

  <!-- <div class="col-md-4 col-md-offset-1 text-center">
    <h2>Manage your account</h2>
    <p>
      The <a href="#">Account Management Page</a>
      allows you to view and edit your account details.
    </p>
  </div> -->
  <div class="col-md-12 text-center">
    <h2>Manage your projects</h2>
    <p>
      The <a href="/projects/list">Project Management Page</a>
      allows you to review, edit, and request time against your projects.
    </p>
  </div>
  {% else %}
  <div class="col-md-4 col-md-offset-1 text-center">
    <h2>Request an account</h2>
    <p>
      <a href="{% url 'accounts:account-request-reason' %}">Request a Research Computing account</a>
      to access our resources and manage projects.
    </p>
  </div>
  <div class="col-md-4 col-md-offset-2 text-center">
    <h2>Login</h2>
    <p>
      <a href="/login">Login</a> using your Research Computing account
      to manage your account, projects, and allocations.
    </p>
  </div>
  {% endif %}


</div>
{% endblock %}
