<p>Use of University of Colorado Research Computing resources,
  including (but not limited to) the Janus and Summit supercomputers
  must be acknowledged in any and all publications.</p>

<h3>Janus</h3>

<blockquote><p>This work utilized the Janus supercomputer, which is
    supported by the National Science Foundation (award number
    CNS-0821794) and the University of Colorado Boulder. The Janus
    supercomputer is a joint effort of the University of Colorado
    Boulder, the University of Colorado Denver and the National Center
    for Atmospheric Research.</p></blockquote>

<h3>Summit</h3>

<blockquote><p>This work utilized the Summit supercomputer, which is
    supported by the National Science Foundation (awards ACI-1532235
    and ACI-1532236), the University of Colorado Boulder, and Colorado
    State University. The Summit supercomputer is a joint effort of
    the University of Colorado Boulder and Colorado State
    University.</p></blockquote>

<h3>Export control</h3>

<p>United States export control requires that the PI ensure and
  certify compliance with the following:</p>

<ul>
  <li>The system will be used for fundamental research intended to be
    published without any restrictions.</li>
  <li>All related users are either (a) employees, students, or
    visitors of a U.S. university, or (b) citizens or permanent
    residents of the United States.</li>
  <li>The PI will retain records or correspondence documenting the
    export control status of every user requested.</li>
</ul>

<p>No HIPAA, FERPA, ITAR, classified, or copywrited data may be stored
  on RC resources.</p>

<p>The PI agrees to provide summaries of activities and
  accomplishments resulting from use of the Janus or Summit systems to
  facilitate reporting requirements of the NSF and the VCR office.</p>
