{% extends "base.html" %}

{% block title %}Research Computing - My Projects{% endblock %}

{% block extra_style %}
<link href="/static/css/projects.css" rel="stylesheet"/>
{% endblock %}

{% block container %}
<div class="row">
  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">Index</a></li>
    <li><a href="{% url 'projects:project-list' %}">My Projects</a></li>
    <li><a href="{% url 'projects:project-detail' pk=project.pk %}">{{ project.project_id}}</a></li>
    <li class="active">Reference {{ object.pk }}</li>
  </ol>

  <legend>Reference
    {% if user in project.managers.all %}<a href="{% url 'projects:reference-edit' project_pk=project.pk pk=object.pk %}" class="project-edit-link">(edit reference)</a>{% endif %}
  </legend>
  <div class="mailto-help">
    <small>
      Questions about this reference?
      <a href="mailto:rc-help@colorado.edu?subject=Question%20About%20Reference%20(%23{{object.pk}})">
          Contact us.
      </a>
    </small>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <td><strong>Reference ID</strong></td>
        <td>{{ object.pk }}</td>
      </tr>
      <tr>
        <td><strong>Description</strong></td>
        <td>{{ object.description }}</td>
      </tr>
      <tr>
        <td><strong>Link</strong></td>
        <td>{{ object.link }}</td>
      </tr>
      <tr>
        <td><strong>Created On</strong></td>
        <td>{{ object.created_on }}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}
